<h2 mat-dialog-title>Añadir inquilino</h2>
<mat-dialog-content>
  <div class="c-sb">
    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select required>
        <mat-option>Particular</mat-option>
        <mat-option>Empresa</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>NIF/CIF</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  
  <div class="c-sb">
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>País</mat-label>
      <mat-select disabled required>
        <mat-option>España</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <mat-select disabled required>
        <mat-option>Valencia</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="c-sb">
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>IBAN</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Crear</button>
</mat-dialog-actions>
