<div class="content-outlet">

  <div class="c-c">
    <button mat-icon-button color="primary" (click)="openFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-chip-list>
      <mat-chip *ngIf="filter?.property" class="chip">{{ filter.property?.address }}</mat-chip>
      <mat-chip *ngIf="filter?.tenant" class="chip">{{ filter.tenant?.name }}</mat-chip>
      <mat-chip *ngIf="filter?.start && filter?.end" class="chip">{{ filter.start | date: 'dd/MM/yyyy' }} - {{ filter.end | date: 'dd/MM/yyyy' }}</mat-chip>
    </mat-chip-list>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOrder">
      <mat-icon>reorder</mat-icon>
    </button>
    <mat-chip *ngIf="sort === 'active'" class="chip">Activos</mat-chip>
    <mat-chip *ngIf="sort === 'type'" class="chip">Tipo</mat-chip>

    <mat-menu #menuOrder="matMenu">
      <button mat-menu-item [ngClass]="{'sort-active': sort === 'active', 'sort-inactive': sort !== 'active'}" (click)="changeSort(filter, 'active')">
        <span>Activos</span>
      </button>
      <button mat-menu-item [ngClass]="{'sort-active': sort === 'type', 'sort-inactive': sort !== 'type' }" (click)="changeSort(filter, 'type')">
        <span>Tipo</span>
      </button>
    </mat-menu>
  </div>

  <mat-divider></mat-divider>

  <mat-list class="full-list">
    <mat-spinner *ngIf="loadingC" class="spinner-p"></mat-spinner>
    <div mat-subheader>Contratos</div>
    <mat-list-item *ngFor="let contract of contractsPage">
      
      <div mat-line class="c-sb">
        <div class="date">{{ contract?.start | date: 'dd/MM/yyyy' }}</div>
        <div class="line"></div>
        <div>{{ contract?.duration }}</div>
        <div class="line"></div>
        <div class="date">{{ contract?.end | date: 'dd/MM/yyyy'}} </div>
      </div>

      <div mat-line class="c-sb items">
        <div>
          Propiedades: 
          <div *ngFor="let p of contract.properties">
            <div>{{ p.address }}</div>
          </div>
        </div>
        <div>  
          Inquilino: 
          <div *ngFor="let t of contract.tenant">
            <div>{{ t.name }}</div>
          </div>
        </div>
      </div>

      <div mat-line class="c-sb items">
        <div>
          Documentos: {{ contract?.nDocs }}
        </div>
        <div>
          Notas: {{ contract?.nNotes }}
        </div>
      </div>

      <div mat-line class="c-sb items">
        <div>
          Ingresos: {{ contract?.incomes?.nIncomes }} | {{ contract?.incomes?.qIncomes }}
        </div>
        <div>
          Pendientes:  {{ contract?.pending?.nPendingPayments }} | {{ contract?.pending?.qPendingPayments }}
        </div>
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Editar</span>
          </button>
          <button mat-menu-item disabled>
            <span>Borrar</span>
          </button>
        </mat-menu>
      </div>

      <mat-divider></mat-divider>  
    </mat-list-item>
  </mat-list>
  
  <mat-paginator 
    [length]="contracts?.length"
    [pageIndex]="page?.pageIndex"
    [pageSize]="page?.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)">
  </mat-paginator>

</div>

