<h2 mat-dialog-title>Filtros</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <div class="c-col">
      <mat-form-field appearance="fill">
        <mat-label>Para</mat-label>
        <mat-select [(ngModel)]="data.typeRel" name="typeRel">
          <mat-option value="property">Propiedad</mat-option>
          <mat-option value="tenant">Inquilino</mat-option>
          <mat-option value="contract">Contrato</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Para</mat-label>
        <mat-select [(ngModel)]="data.relId" name="relId" #relId="ngModel">
          <mat-optgroup *ngFor="let group of listRel" [label]="getLabel(group.group)">
            <mat-option *ngFor="let item of group.rel" [value]="item.id">
              {{ getValue(item, group.group) }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Periodo del alquiler</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="data.start" name="start">
          <input matEndDate placeholder="End date" [(ngModel)]="data.end" name="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="submit" (click)="onReset()" color="accent">Reset</button>
  <button mat-button type="submit" (click)="onSubmit()" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>