<div class="content-outlet">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button color="black" [routerLink]="['../../']">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div *ngIf="property?.address">
          Propiedad: {{ property.address }}
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content >

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Documentos
      </mat-card-title>
    </mat-card-header>
  </mat-card>
 
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Notas
      </mat-card-title>
    </mat-card-header>

  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Contratos
      </mat-card-title>
    </mat-card-header>

  </mat-card>
</div>