<div class="content-outlet">

  <div class="c-c">
    <button mat-icon-button color="primary" (click)="openFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-chip-list>
      <mat-chip *ngIf="filter?.name" class="chip">{{ filter.name }}</mat-chip>
      <mat-chip *ngIf="filter?.address" class="chip">{{ filter.address }}</mat-chip>
      <mat-chip *ngIf="filter?.type">
        <mat-icon *ngIf="filter?.type === 'private'" mat-list-icon>person</mat-icon>
        <mat-icon *ngIf="filter?.type === 'company'" mat-list-icon>business</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOrder">
      <mat-icon>reorder</mat-icon>
    </button>
    <mat-chip *ngIf="sort === 'active'" class="chip">Activos</mat-chip>
    <mat-chip *ngIf="sort === 'type'" class="chip">Tipo</mat-chip>

    <mat-menu #menuOrder="matMenu">
      <button mat-menu-item [ngClass]="{'sort-active': sort === 'active', 'sort-inactive': sort !== 'active'}" (click)="changeSort(filter, 'active')">
        <span>Activos</span>
      </button>
      <button mat-menu-item [ngClass]="{'sort-active': sort === 'type', 'sort-inactive': sort !== 'type' }" (click)="changeSort(filter, 'type')">
        <span>Tipo</span>
      </button>
    </mat-menu>
  </div>

  <mat-divider></mat-divider>

  <mat-list class="full-list">
    <mat-spinner *ngIf="loadingT" class="spinner-p"></mat-spinner>
    <div mat-subheader>Inquilinos</div>

    <mat-list-item *ngFor="let tenant of tenantsPage">

      <mat-icon *ngIf="tenant?.type === 'company'" mat-list-icon>business</mat-icon>
      <mat-icon *ngIf="tenant?.type === 'private'" mat-list-icon>person</mat-icon>

      <div mat-line style="font-weight: 800;"><span class="tenant-status"></span>{{ tenant?.name }}</div>
      <div mat-line style="font-weight: 800;"><span class="tenant-status"></span>{{ tenant?.identity }}</div>
      
      <div mat-line class="c-sb items">
        <div>
          Contratos: {{ tenant?.nContracts }}
        </div>
        <div>
          Documentos: {{ tenant?.nDocs }}
        </div>
      </div>

      <div mat-line  class="c-sb items">
        <div>
          Ingresos: {{ tenant?.payments?.nPayments }} | {{ tenant?.payments?.qPayments }} &euro;
        </div>
        <div>
          Pendientes:  {{ tenant?.pending?.nPendingPayments }} | {{ tenant?.pending?.qPendingPayments }} &euro;
        </div>
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Editar</span>
          </button>
          <button mat-menu-item disabled>
            <span>Borrar</span>
          </button>
        </mat-menu>
      </div>

      <mat-divider></mat-divider>  
      
    </mat-list-item>
  </mat-list>

  <mat-paginator 
    [length]="tenants?.length"
    [pageIndex]="page?.pageIndex"
    [pageSize]="page?.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)">
  </mat-paginator>

</div>
