.list-properties-sel {
  height: 120px;
  overflow-y: scroll;
}

mat-form-field {
  width: 236px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  height: 120px;
  overflow-y: scroll;
}

mat-radio-button {
  margin: 5px;
}